header > nav> ul> li {
    display: inline-block;
    width: 150px;
    float: center;
    
}


body {
    
    background-color: #19B343;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B31215;
}

h1 {
    text-align: center;
    border-inline-style: auto;
    color:#B31215;
    
}



h3 {
    text-align: center;
    color: #B31215;
}
img {
   
    border-style: double;
    width: 100px;
    height: 100px;
    align-content: center;
    
         
  }

  div {
      
  }

  .column {
    float: left;
    width: 33.33%;
    
  }

  .row:after {
    display: table;
    clear: both;
  }

  footer>nav>ul>li {
    display: inline-block;
    width: 150px;
    float: center;
  }

 

